{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Entre com sua conta para poder criar seus tópicos.</h2>
{% endblock header %}

{% block content %}

    {% if form.errors %}
        <p>Seu login e/ou senha estão errados. Por favor, tente novamente.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="form">
        <div class="container">
           <div class="row justify-content-center mt-5">
            <div class="col-md-4">
              <form action="{% url 'login' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button name="submit" class="btn btn-primary">Entrar</button>
                {% endbuttons %}
                <input type="hidden" name="next" value="{% url 'index' %}"/>
              </form>
            </div>
          </div>
        </div>


    </form>

{% endblock content %}
